body,
html {

  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

main {
  margin-top: 3px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.conteiner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(photo/Rectangle104.jpg);
  background-size: cover;
  z-index: 1 !important;
}

.box1 {
  background: rgba(255, 255, 255, 0);
  width: 186px;
  height: 72px;
  background-image: url(photo/avatar-2-6235acaebf9262.png);
  background-repeat: no-repeat;
  background-position: left;
  z-index: 1 !important;
  margin-left: 160px;
  margin-top: 39px;
}

.headbox {
  margin-top: 63px;
  margin-left: 185px;
  width: 430px;
  height: 24px;

}

.headsulka:nth-child(1) {
  font-weight: 600;
  color: rgba(148, 207, 255, 1);
  text-decoration: none;
  font-size: 21px;
  height: 24px;
  top: 63px;
  left: 558px;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.headsulka:nth-child(2) {
  text-decoration: none;
  height: 24px;
  top: 63px;
  left: 678px;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-left: 75px;
  margin-right: 75px;
}

.headsulka:nth-child(2):hover {
  color: rgba(148, 207, 255, 1);
}

.headsulka:nth-child(3) {
  text-decoration: none;
  height: 24px;
  top: 63px;
  left: 794px;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-left: 0;

}

.headsulka:nth-child(3):hover {
  color: rgba(148, 207, 255, 1);
}

.headsulkaeng {
  margin-right: 35px !important;
}

.headsulkaeng2 {
  margin-left: -5px !important;
}

.loginbutton {
  display: block;
  border: 0;
  background: rgba(255, 255, 255, 0);
  background-image: url(photo/Group14.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 142px;
  height: 41.69px;
  margin-left: 130px;
  margin-top: 54px;
  font-family: 'Headland One';
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(38, 198, 234, 1);
  padding: 8px 38px;
}

.loginbuttoneng {
  padding: 8px 36px;
}

.loginbutton:hover {
  cursor: pointer;
}

.heada {
  display: block;
  background: rgba(255, 255, 255, 0);
  background-image: url(photo/Rectangle85.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 260px;
  height: 80px;
  top: 631px;
  left: 204px;
  background-size: 260px, cover;
  margin-top: 20px;
  font-family: 'Headland One';
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(38, 199, 234, 1);
  margin-left: 26px;
  text-decoration: none;
  padding: 11px 45px;
}

.headaeng {
  padding: 25px 75px;
}

.headbutton:hover {
  cursor: pointer;
}

.switch input {
  display: none;
}

.switcher {
  margin-top: 15px;
  margin-left: 6px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  width: 36px;
  height: 20px;
  top: 65px;
  left: 1325px;
  border-radius: 10px;
  border: 1px solid white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(204, 204, 204, 0);
  -webkit-transition: 0.4s;
  transition: 0.4s;

}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4.5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: rgba(33, 150, 243, 0.3);
}

input:focus+.slider {
  box-shadow: rgba(33, 150, 243, 0.3);
  ;
}

input:checked+.slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

.slidereng {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 14px;
  right: 0;
  bottom: 0;
  background-color: rgba(204, 204, 204, 0.);
  -webkit-transition: .4s;
  transition: .4s;

}

.language1 {
  width: 30px;
  height: 20px;
  top: 65px;
  left: 1285px;
  font-family: 'Hammersmith One';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);


}

.language2 {
  width: 21px;
  height: 20px;
  font-family: 'Hammersmith One';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.switchlanguage {
  display: flex;
  width: 107px;
  height: 20px;
  top: 65px;
  left: 1285px;
  border-radius: 10px;
  border: 1px;
  margin-left: 50px;
  margin-top: 50px;
}

.mainconteiner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 740px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(43, 74, 97, 0.25), rgba(43, 74, 97, 0.25)), url(photo/Group481.svg);
  background-size: cover;
  z-index: 1 !important;
}

.group47 {
  width: 376px;
  height: 381px;
  margin-left: 204px;
  margin-top: 180px;
}

.group47eng {
  width: 298px;
  height: 96px;
  top: 330px;
  left: 204px;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.group47ua {
  width: 376px;
  height: 123px;
  top: 466px;
  left: 204px;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.group47img {
  width: 152px;
  height: 40px;
  top: 426px;
  margin-left: 75px;
  border: 1px;
}

.messengers {
  width: 70px;
  height: 141px;
  top: 450px;
  left: 1186px;
  margin-left: 1000px;
  margin-bottom: 500px;
  text-decoration: none;
  list-style: none;
}

.insta:hover {
  cursor: pointer;
}

.twitter:hover {
  cursor: pointer;
}

.youtube:hover {
  cursor: pointer;
}

.insta {
  display: block;
  background: rgba(255, 255, 255, 0);
  background-image: url(photo/instagram.png);
  width: 30px;
  height: 30px;
}

.twitter {
  display: block;
  background: rgba(255, 255, 255, 0);
  background-image: url(photo/twitter.png);
  width: 32.33px;
  height: 30px;
  left: 0.83px;
  margin-top: 25px;
}

.youtube {
  display: block;
  background: rgba(255, 255, 255, 0);
  background-image: url(photo/YouTube.png);
  width: 50px;
  height: 30px;
  margin-top: 25px;
}

.group48 {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  height: 350px;
  top: 890px;
  text-align: center;
}

.group48h {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter';
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(10, 56, 83, 1);
}

.group48p {
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  font-family: 'Inter';
  ;
}

.group38 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 741px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: repeat;
  background-position: center;
  top: 1240px;
  background-image: url(photo/Rectangle10.png);
  background-size: cover;
}

.group38a {
  display: block;
  background: rgba(255, 255, 255, 0);
  background-image: url(photo/Rectangle85.png
);
  background-repeat: no-repeat;
  background-position: center;
  width: 280px;
  height: 80px;
  background-size: 260px, cover;
  margin-top: 330px;
  font-family: 'Headland One';
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(38, 199, 234, 1);
  text-decoration: none;
  margin-right: auto;
  margin-left: 600px;
  padding: 25px 20px;
}

.group38button:hover {
  cursor: pointer;
}

.group49h {
  margin-left: auto;
  margin-right: auto;
  width: 886px;
  height: 44px;
  font-family: 'Inter';
  ;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}

.group49img {
  margin-left: 512px;
}

.group40 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 704px;
  top: 2331px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: repeat;
  background-position: center;
  background-image: url(photo/Rectangle20.png);
  background-size: cover;
  z-index: 1;
}

.group40h {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 285px;
  height: 40px;
  top: 2389px;
  left: 577px;
  font-family: 'Headland One';
  ;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: justify;
  color: rgba(20, 20, 20, 1);
}

.group40ul {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: 140px;
}

.group40box {
  align-items: center;
  width: 320px;
  height: 240px;
  top: 2474px;
  left: 204px;
  background: rgba(255, 255, 255, 0.7);
  margin: 10px 63px 20px 0;
}

.group40p1 {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 24px;
  top: 2510px;
  left: 324px;
  font-family: 'Headland One';
  ;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(20, 20, 20, 1);
}

.group40p2 {
  margin-left: auto;
  margin-right: auto;
  min-width: 190px;
  height: 24px;
  top: 2510px;
  left: 324px;
  font-family: 'Headland One';
  ;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(20, 20, 20, 1);
}

.group40p3 {
  margin-left: auto;
  margin-right: auto;
  width: 121px;
  height: 24px;
  top: 2510px;
  left: 324px;
  font-family: 'Headland One';
  ;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(20, 20, 20, 1);
}

.group40p4 {
  margin-left: auto;
  margin-right: auto;
  min-width: 80px;
  height: 24px;
  top: 2510px;
  left: 324px;
  font-family: 'Headland One';
  ;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(20, 20, 20, 1);
}

.group40p5 {
  margin-left: auto;
  margin-right: auto;
  width: 141px;
  height: 24px;
  top: 2510px;
  left: 324px;
  font-family: 'Headland One';
  ;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(20, 20, 20, 1);
}

.group40p6 {
  margin-left: auto;
  margin-right: auto;
  width: 196px;
  height: 24px;
  top: 2510px;
  left: 324px;
  font-family: 'Headland One';
  ;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(20, 20, 20, 1);
}

.group40img {
  width: 152px;
  height: 40px;
  top: 2614px;
  left: 644px;
  margin-top: 25px;
  margin-left: 85px;
  margin-right: auto;
}

.group40h1 {
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: 24px;
  top: 2654px;
  left: 326px;
  font-family: 'Headland One';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: justify;
  color: rgba(0, 0, 0, 1);

}

.group40h2 {
  margin-left: auto;
  margin-right: auto;
  width: 263px;
  height: 24px;
  top: 2654px;
  left: 326px;
  font-family: 'Headland One';
  ;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: justify;
  color: rgba(0, 0, 0, 1);

}

.group40h3 {
  margin-left: auto;
  margin-right: auto;
  width: 107px;
  height: 24px;
  top: 2654px;
  left: 326px;
  font-family: 'Headland One';
  ;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: justify;
  color: rgba(0, 0, 0, 1);

}

.group40h4 {
  margin-left: auto;
  margin-right: auto;
  width: 96px;
  height: 24px;
  top: 2654px;
  left: 326px;
  font-family: 'Headland One';
  ;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: justify;
  color: rgba(0, 0, 0, 1);

}

.group40h5 {
  margin-left: auto;
  margin-right: auto;
  width: 210px;
  height: 24px;
  top: 2654px;
  left: 326px;
  font-family: 'Headland One';
  ;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: justify;
  color: rgba(0, 0, 0, 1);
}

.group40h6 {
  margin-left: auto;
  margin-right: auto;
  width: 123px;
  height: 24px;
  top: 2654px;
  left: 326px;
  font-family: 'Headland One';
  ;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: justify;
  color: rgba(0, 0, 0, 1);
}

.group50 {
  margin-left: auto;
  margin-right: auto;
  width: 1438px;
  height: 350px;
  top: 3035px;
}

.group50h {
  font-family: 'Inter';
  ;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 44px;
  top: 3110px;
  left: 277px;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}

.group142 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 223px;
  top: 3385px;
  border: 0px, 0px, 3px, 0px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(photo/Rectangle104.jpg);
  background-size: cover;
  z-index: 1;
}

.box2 {
  background: rgba(255, 255, 255, 0);
  width: 186px;
  height: 72px;
  background-image: url(photo/avatar-2-6235acaebf9262.png);
  background-repeat: no-repeat;
  background-position: left;
  z-index: 2;
  margin-left: 204px;
  margin-top: 75px;
}

.line {
  width: 153px;
  top: 3420px;
  left: 467px;
  border: 2px;
  margin-left: 80px;
  margin-top: 37px;
}

.group45 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 665px;
  height: 24px;
  top: 3465px;
  left: 547px;

}

.dashed-line {
  width: 269px;
  height: 1px;
  border-top: 2px dashed #FFFFFF;
  margin-top: 32px;
  margin-left: 15px;
  align-items: center;
}

.footerp {
  width: 107px;
  height: 24px;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.fotera {
  margin-top: 19px;
  margin-left: 15px;
  width: 249px;
  height: 24px;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: right;
  color: rgba(255, 255, 255, 1);
}

.dashed-line2 {
  width: 194px;
  height: 1px;
  border-top: 2px dashed #FFFFFF;
  margin-top: 15px;
  margin-left: 15px;
  align-items: center;
}

.footerp2 {
  margin-top: 2px;
  width: 182px;
  height: 24px;
  top: 3505px;
  left: 547px;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.fotera2 {
  margin-top: 2px;
  margin-left: 15px;
  width: 249px;
  height: 24px;
  top: 3465px;
  left: 963px;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: right;
  color: rgba(255, 255, 255, 1);
}

.group45p {
  margin-left: 130px;
  width: 348px;
  height: 17px;
  top: 3566px;
  left: 678px;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.animate__group {
  animation: backInUp;
  animation-duration: 2s;

}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  display: block;
  background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87));
  margin: 150px auto;
  /* 15% from the top and centered */
  border: 4px solid #00b3ffb4;
  width: 350px;
  /* Could be more or less, depending on screen size */
  height: 370px;
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.username {
  margin-top: 50px;
  background-color: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87));
  color: rgba(0, 221, 255, 0.719);
  margin-left: 5px;
}

.password {
  margin-top: 30px;
  color: rgba(0, 221, 255, 0.719);
  margin-left: 5px;
}

.loginsubmit {
  margin-top: 25px;
}

.loginsubmitbutton {
  display: block;
  border: 0;
  background: rgba(255, 255, 255, 0);
  background-image: url(photo/Group14.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 141px;
  height: 41px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  font-family: 'Headland One';
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(38, 198, 234, 1);
  padding: 8px 38px;
}

.box2 {
  background: rgba(255, 255, 255, 0);
  width: 186px;
  height: 72px;
  background-image: url(photo/avatar-2-6235acaebf9262.png);
  background-repeat: no-repeat;
  background-position: left;
  z-index: 1 !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.psw {
  margin-left: 80px;
  text-decoration: none;
  color: rgba(0, 221, 255, 0.719);
}

.containerlogin {
  margin-top: 35px;
  font-weight: 500;
  text-decoration: none;
}

.remember {
  margin-left: 5px;
  color: rgba(0, 221, 255, 0.719);
  font-weight: 500;
}

.loginputeng {
  margin-left: 57px;
}

.loginputeng2 {
  margin-left: 61px;
}

.loginputua2 {
  margin-left: 74px;
}

.loginsubmitbutton:hover {
  cursor: pointer;
}